* {
    background-color: rgba(34, 238, 204, 0.795);
}

p {
    background-color: rgb(4, 136, 136);
    color: indigo;
    font-size: 30px;
}

td {
    background-color: rgb(106, 148, 111);
    width: 100px;
    height: 100px;

}

.fondolila {
    background-color: rgba(146, 27, 182, 0.493);
    font-size: 10px;

}

.textocentrado {
    text-align: center;
    font-size: 30px;

}